body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./assets/pexels-pixabay-263402.jpg);
}

header {
    
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.login-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8eb426;
    border-radius: 5px;
}

.login-form h2 {
    margin-top: 0;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}